<div class="container">
  <div class="row">
    <div *ngIf="currentGame$ | async as currentGame">
      <h1>
        {{currentGame}}
      </h1>
    </div>

    <ng-container *ngIf="(hintedCards$ | async) as hintedCards">
      <div *ngFor="let card of currentCardsOnBoard$ | async "
           [class.hinted]="isHinted(card.cardId, hintedCards)"
           [class.selected]="(selectedCards$ | async)?.includes(card)"
           (click)="clickCard(card)"
           class="col-sm-3 playing-card card-background">
            <app-playing-card [playingCard]="card">

            </app-playing-card>
      </div>
    </ng-container>

  </div>
</div>

