.selected {
  background-color: #f2ffad;
}

.hinted {
  background-color: #9cffb6;
}

.playing-card:hover {
  background-color: #f2ffad;
}

.card-background {
  border: black 1px solid;
  border-radius: 5px;
}
