<div class="container">
  <div class="row">
    <div *ngIf="currentGame$ | async as currentGame">
      <h1>
        {{currentGame}}
      </h1>
    </div>

    <div *ngFor="let card of currentCardsOnBoard$ | async "
         [class.hinted]="(hintedCards$ | async)?.includes(card)"
         [class.selected]="(selectedCards$ | async)?.includes(card)"
         (click)="clickCard(card)"
         class="col-sm-3 playing-card card-background">
      <app-playing-card [playingCard]="card">

      </app-playing-card>
    </div>

<!--    <div *ngIf="currentDeck$ | async as currentDeck">
      <div *ngFor="let card of currentDeck">
        <p>{{card.cardId}}</p>
      </div>
    </div>-->
  </div>
</div>

