<div class="container">
  <div class="row">

    <br>
    <p class="text-center">Please enter your credentials and let's get started!</p>
    <br>

    <input type="text" [(ngModel)]="user.username" class="form-control" placeholder="Enter your username here!">

    <input type="password" [(ngModel)]="user.password" class="form-control" placeholder="Password">

    <p>No Account? No Wozzas! Click <a routerLink="/register">here</a>!</p>

      <button class="btn btn-lg btn-outline-success"
              type="button"
              (click)="login()">
        Let's Play!
      </button>

  </div>
</div>


