<div class="container-stats">
  <div class="container text-center">
    <h4>Game Stats</h4>
    <br>
    <ng-container *ngIf="gameStats$ | async as gameStats">
      <div class="row">
        Cards Remaining In Deck:
        <p class="fw-bold">
          {{gameStats.cardsRemainingInDeck}}
        </p>
      </div>

      <br>

      <div class="row">
        Sets found:
        <p class="fw-bold">
          {{gameStats.foundSetsInGame}}
        </p>
      </div>

      <br>

      <div class="row">
        Possible sets on table:
        <p class="fw-bold">
          {{gameStats.possibleSetsOnTable}}
        </p>
      </div>
    </ng-container>
  </div>
</div>
