
<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <app-user-options></app-user-options>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-2">
      <app-game-stats></app-game-stats>
    </div>

    <div class="col-sm-10">
      <app-playing-table
        #PlayingTable
      ></app-playing-table>

      <div class="text-center">
        <app-hint>
        </app-hint>
      </div>
    </div>


  </div>

  <div class="bottom-item text-center">
    <div class="row">
      <div class="col-sm-12">
        <app-found-sets></app-found-sets>
      </div>
    </div>
  </div>
</div>
