
<div class="container">
  <div class="row">
    <app-user-options></app-user-options>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <app-game-history></app-game-history>
    </div>

    <div class="col-sm-8">
      <app-playing-table></app-playing-table>
    </div>

    <div class="col-sm-2">
      <app-game-stats></app-game-stats>
    </div>
  </div>

  <div class="text-center stack-overview">
    <app-stack-overview></app-stack-overview>
  </div>

  <div class="bottom-item text-center">
    <div class="row">
      <div class="col-sm-10">
        <app-found-sets></app-found-sets>
      </div>
      <div class="col-sm">
        <app-card-stack></app-card-stack>
      </div>
    </div>
  </div>
</div>
